#logo {
    /* tamanho */
    --size: 500px;

    /* estética */
    background-image: url(../Imagens/terra.svg);
}



#development{

    /* tamanho */
    --size: 530px;

    /* estética */
    background-image: url(../Imagens/development.svg);

    /* posição */
    float: right;
    margin: -30px 60px;
}


@media screen and (max-width: 1000px) {
    #development{
        float: none;
        margin: -15px auto;
    }
}

@media screen and (max-width: 900px) {
    #development{
        float: none;
        margin: -120px auto;
    }
}



#developer{

    /* tamanho */
    --size: 530px;

    /* estética */
    background-image: url(../Imagens/the_dev.svg);

    /* posição */
    float: left;
    margin: 60px 60px;
}


@media screen and (max-width: 1000px) {
    #developer{
        float: none;
        margin: 30px auto;
    }
}

