/* --- a 'raíz' do documento que normalmente é a tag <html> --- */
:root{
    /* algumas variáveis globais */
    --Background: rgb(15, 15, 15);/* a cor tema do fundo do site */
    --interfaceColor: black;/* a cor tema da interface do site */
    --interfaceButtonColor: black;/* a cor tema dos botões da interface do site */
    --interfaceHoverButtonColor: white;/* a cor tema dos botões com hover da interface do site */
    --interfaceButtonAnimationTime: 0.25s; /* o tempo para a animação de gradiente dos botões */
    --interfaceTextFont: iceland; /* a fonte do texto da interface do site */
    --interfaceTextColor: white; /* a cor do texto da interface do site */
    --menuColor: rgb(0, 0, 0); /* a cor do menu */
    --pageHeight: max-content; /* o tamanho da página */
    --headerHeight: 75px; /* o tamanho do header */
    --blurColor: var(--Background); /* a cor do efeito de blur */
    --mouseGrab: url('../Imagens/mouse_grab.svg');

    /* estética do cursor */
    cursor: url('../Imagens/mouse_normal.svg') 0 0, default;
}

/* --- estilo de pseudo elementos ---- */
::selection{
    background-color: white;
    color: black;
}

::-webkit-scrollbar{

    /* tamanho */
    width: 6px;

}

::-webkit-scrollbar-thumb{
    /* estética */
    background-color: white;
    border-radius: 25%;
}

::-webkit-scrollbar-track{

    /* estética */
    background-color: rgb(10, 10, 10);
}

/* --- estilos padrões para todos os elementos na página --- */
*{
    /* tamanho */
    max-width: 100vw;

    /* estética */
    font-family: var(--interfaceTextFont), arial;


    /* posicionamento */
    margin: 0 auto;
}

/* --- estilos de elementos de estrutura (body, nav, etc.) --- */
body{

    /* tamanho */
    height: var(--pageHeight);

    /* estética */
    background-color: var(--Background);
    overflow-x: hidden;

    /* faz com que todos os itens sejam colocados um abaixo do outro */
    display: flex;
    flex-direction: column;

    

    
}

header{
    /* tamanho */
    width: 100vw;
    height: var(--headerHeight);

    /* estética */
    background-color: var(--interfaceColor);
    color: var(--interfaceTextColor);
    text-align: center;
    font-family: var(--interfaceTextFont);
    font-size: 2em;
    padding-top: 5px;
    box-sizing: border-box;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    /* posicionamento */
    z-index: 500;
    position: fixed;

    /* posicionamento dos elementos internos */
    display: relative;


}

nav{
    /* variaveis locais */
    --width: 300px;/* a largura do menu */

    /* tamanho */
    width: var(--width);
    height: 100%;

    /* estética */
    background-color: var(--menuColor);
    display: none;
    opacity: 0;
    

    /* posicionamento */
    z-index: 100;
    position: fixed;
    right: calc(-1 * var(--width));
    top: 0px;
}

main{
    /* tamanho */
    width: 100%;
    height: calc(var(--pageHeight) - 150px);

    /* estética */
    margin-top: 75px;
}

footer{
    /* tamanho */
    width: 100%;
    height: 75px;

    /* estética */
    background-color: var(--interfaceColor);
    color: var(--interfaceTextColor);
    font-family: var(--interfaceTextFont);
    font-size: 2em; /* 2em é equivalente a xx-large */
    padding: 15px;
    box-sizing: border-box;

    /* posicionamento do conteúdo */
    display: flex;
    align-items: center;

    /* posicionamento */
    z-index: 500;
    margin-top: 15px;

}


/* estilos gerais para grupos de elementos no site */
button{
    /* cursor */
    cursor: var(--mouseGrab) 0 0, pointer;
}



/* configuração de classes e IDs importantes assim como efeitos de :hover */

#titulo{
    /* tamanho */
    width: calc(5 * 1em);

    /* estética */
    text-shadow: 0px 0px 0px var(--interfaceTextColor);
    border-radius: 15px;

    /* o cursor do mouse */
    cursor: var(--mouseGrab), pointer;

    /* animação */
    transition: text-shadow 0.2s ease-in;
}

#titulo:hover{

    /* estética */
    text-decoration: underline;
    text-shadow: 0px 0px 20px var(--interfaceTextColor);

}


.button{
    /* estética */
    color: var(--interfaceTextColor);
    border: 0;
    background-color: var(--interfaceButtonColor);/* tecnicamente estas partes são para animação mas decidi colocar aqui.... :) */
    background-image: linear-gradient(to right, var(--interfaceHoverButtonColor), var(--interfaceHoverButtonColor));
    background-repeat: no-repeat;
    background-size: 0% 100%;

    /* animação */
    transition: color var(--interfaceButtonAnimationTime) ease-in-out, background-size var(--interfaceButtonAnimationTime) ease-in-out;
}

.button:hover{
    color: var(--interfaceButtonColor);
    background-size: 100% 100%;
}

#botaoMenu{
    /* tamanho */
    width: 60px;
    height: 60px;
    
    /* estética */
    font-size: 60px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;

    /* posicionamento */
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    
}

#botaoMenu a{
    position: absolute;
    left: 3px;
    bottom: -6px;
    font-weight: 900;
    user-select: none;
}

.image{
    /* estética */
    background-repeat: no-repeat;
    background-size: contain;
}

.styledButton{
    /* variáveis locais */
    --interfaceButtonColor: var(--Background);


    /* estética */
    border-radius: 5px;
    font-family: var(--interfaceTextFont);
    text-decoration: underline;
    font-size: 45px;
}

.lightButton{
    /* estética */
    background-color: transparent;

}

.blur{
    /* estética */
    box-shadow: 0px 0px 15px 30px var(--blurColor);
}

.total{
    /* tamanho */
    width: 100%;
    height: 80px;


    /* estética */
    font-size: 45px;
    border-radius: 15px;
    font-family: var(--interfaceTextFont);
    color: var(--interfaceTextColor);
    border: 0;

    /* posicionamento */
    z-index: 5;

    /* posicionamento de itens no interior */
    position: relative;
    
}

.botaoBrilho{

    /* estética */
    outline-offset: -5px;

    /* animação */
    transition: outline 0.2s ease-in, text-shadow 0.2s ease-in;
}

.botaoBrilho:hover{
    /* estética */
    text-shadow: 0px 0px 90px var(--interfaceTextColor);
    outline: solid var(--interfaceTextColor) 5px; /* outline é como o border mas não afeta o fluxo do documento */
}

.cartao{
    /* variáveis locais */
    --time: 0.25s;

    /* posição itens interiores */
    display: none;

    /* tamanho */
    height: 0px;
    width: 100%;

    /* animação */
    transition: height var(--time) ease-in;
}

.conteudoCartao{
    /* posição */
    transform: rotateX(90deg);

    /* animação */
    transition: transform var(--time) ease-in;

}


@media only screen and (max-width: 700px) {
    nav{
        /* tamanho */
        --width: 100vw;
    }

    .cartao{
        /* variáveis locais */
        --time: 0s;
    }
}


@media only screen and (max-width: 500px) {
    header{
        /* estética */
        font-size: 1.5em;

        /* posicionamento dos itens interiores */
        padding-top: 0.5em;

    }

    #botaoMenu{
        /* tamanho */
        width: 50px;
        height: 50px;

        /* posição */
        right: 18px;

    }

    #botaoMenu a{
        /* estética */
        font-size: 0.75em;

        /* posição */
        left: 5px;
        bottom: -3px;
        
    }

    footer{
        /* estética */
        font-size: 1.5em;
    }
}


