#dwarf {
    /* tamanho */
    --size: 500px;

    /* estética */
    background-image: url(../Imagens/dwarf_planets.svg);
}







#dawn{
    /* tamanho */
    --size: 400px;

    /* estética */
    background-image: url(../Imagens/dawn.svg);

    /* posicionamento */
    float: right;
    margin: 60px;

}







#newhorizons{
    /* tamanho */
    --size: 400px;

    /* estética */
    background-image: url(../Imagens/horizons.svg);

    /* posicionamento */
    float: left;
    margin: 60px;

}
