#earth {
    /* tamanho */
    --size: 500px;

    /* estética */
    background-image: url(../Imagens/terra.svg);
}

#sputinik{
    /* tamanho */
    --size: 400px;

    /* estética */
    background-image: url(../Imagens/sputinik.svg);

    /* posicionamento */
    float: right;
    margin: 30px;

}



#vostok{
    /* tamanho */
    --size: 400px;

    /* estética */
    background-image: url(../Imagens/vostok_2.svg);

    /* posicionamento */
    float: left;
    margin: 60px;

}



#voskhod{
    /* tamanho */
    --size: 400px;

    /* estética */
    background-image: url(../Imagens/voskhod.svg);

    /* posicionamento */
    float: right;
    margin: 60px;

}



#gemini{
    /* tamanho */
    --size: 400px;

    /* estética */
    background-image: url(../Imagens/gemini_docked.svg);

    /* posicionamento */
    float: left;
    margin: 60px;

}



#salyut{
    /* tamanho */
    --size: 400px;

    /* estética */
    background-image: url(../Imagens/salyut.svg);

    /* posicionamento */
    float: right;
    margin: 60px;

}



#falcon{
    /* tamanho */
    --size: 400px;

    /* estética */
    background-image: url(../Imagens/falcon.svg);

    /* posicionamento */
    float: left;
    margin: 50px;

}
