header{
    /* posicionamento dos outros elementos */
    margin-bottom: 30px;
}


._botoesCartao{
    /* estética */
    background-image: url('../Imagens/fundoSobre.svg');
}





#challengerImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/space_shuttle.svg');

    /* posição */
    left: 10px;

}

#challengerImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/space_shuttle.svg');

    /* posição */
    right: 10px;

}

#challengerCartao{
    /* variáveis locais */
    --height: 500px;
}

/*#challenger{

    /*estética*/
    /*background-image: url('../Imagens/challenger_do_espaco.svg');*/

/*}*/










#columbiaImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/space_shuttle.svg');

    /* posição */
    left: 10px;

}

#columbiaImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/space_shuttle.svg');

    /* posição */
    right: 10px;

}

#columbiaCartao{
    /* variáveis locais */
    --height: 500px;
}

/*#columbia{

    /*estética*/
    /*background-image: url('../Imagens/challenger_do_espaco.svg');*/

/*}*/










#nedelinImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/nedelinDisaster.svg');

    /* posição */
    left: 10px;

}

#nedelinImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/nedelinDisaster.svg');

    /* posição */
    right: 10px;

}

#nedelinCartao{
    /* variáveis locais */
    --height: 500px;
}

/*#nedelin{

    /*estética*/
    /*background-image: url('../Imagens/challenger_do_espaco.svg');*/

/*}*/










#soyuz11ImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/soyuz_landed.svg');

    /* posição */
    left: 10px;

}

#soyuz11ImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/soyuz_landed.svg');

    /* posição */
    right: 10px;

}

#soyuz11Cartao{
    /* variáveis locais */
    --height: 500px;
}

/*#soyuz11{

    /*estética*/
    /*background-image: url('../Imagens/challenger_do_espaco.svg');*/

/*}*/










#apolloImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/apollo_service_module.svg');

    /* posição */
    left: 10px;

}

#apolloImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/apollo_service_module.svg');

    /* posição */
    right: 10px;

}

#apolloCartao{
    /* variáveis locais */
    --height: 500px;
}

/*#apollo{

    /*estética*/
    /*background-image: url('../Imagens/challenger_do_espaco.svg');*/

/*}*/










#soyuz1ImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/soyuz_crashed.svg');

    /* posição */
    left: 10px;

}

#soyuz1ImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/soyuz_crashed.svg');

    /* posição */
    right: 10px;

}

#soyuz1Cartao{
    /* variáveis locais */
    --height: 500px;
}

/*#soyuz1{

    /*estética*/
    /*background-image: url('../Imagens/challenger_do_espaco.svg');*/

/*}*/


/* @media screen and (max-width: 1470px) {
    #challengerCartao{
        variáveis locais
        --height: 900px;
    }
}

@media screen and (max-width: 1005px) {
    #challengerCartao{
        variáveis locais
        --height: 1100px;
    }
}

@media screen and (max-width: 900px) {
    #challengerCartao{
        variáveis locais
        --height: 900px;
    }
}

@media screen and (max-width: 655px) {
    #challengerCartao{
        variáveis locais
        --height: 1100px;
    }
}

@media screen and (max-width: 445px) {
    #challengerCartao{
        variáveis locais
        --height: 400px;
    }
}

@media screen and (max-width: 375px) {
    #challengerCartao{
        variáveis locais
        --height: 600px;
    }
}

@media screen and (max-width: 233px) {
    #challengerCartao{
        variáveis locais
        --height: 800px;
    }
} */



