header{
    /* posicionamento dos outros elementos */
    margin-bottom: 30px;
}


._botoesCartao{
    /* estética */
    background-image: url('../Imagens/fundoSobre.svg');
}





#challengerImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/space_shuttle.svg');

    /* posição */
    left: 10px;

}

#challengerImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/space_shuttle.svg');

    /* posição */
    right: 10px;

}

#challengerCartao{
    /* variáveis locais */
    --height: 500px;
}

/*#challenger{

    /*estética*/
    /*background-image: url('../Imagens/challenger_do_espaco.svg');*/

/*}*/










#columbiaImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/space_shuttle.svg');

    /* posição */
    left: 10px;

}

#columbiaImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/space_shuttle.svg');

    /* posição */
    right: 10px;

}

#columbiaCartao{
    /* variáveis locais */
    --height: 500px;
}

/*#columbia{

    /*estética*/
    /*background-image: url('../Imagens/challenger_do_espaco.svg');*/

/*}*/

