/* CSS específico da página index.html */
.fundo{
    /* tamanho */
    width: 100%;
}

#sobre{
    /* tamanho */
    height: 1100px;

    /* estética */
    background-image: url(../Imagens/fundoSobre.svg);
    font-family: var(--interfaceTextFont);
    color: var(--interfaceTextColor);
    font-size: x-large;
    display: block;

    /* posicionamento de elementos internos */
    position: relative;
}

#sobre h1{
    /* tamanho */
    width: 550px;
    
    /* estética */
    /*background-color: var(--Background);
    border-radius: 5px;*/

    /* posicionamento */
    position: absolute;
    top: min( 65vh - 75px , 750px );
    left: 5vw;
}

#sobreBotao{

    /* posicionamento */
    position: absolute;
    top: 105px;
    right: 85px;

}

#earth{
    /* tamanho */
    --size: 650px;
    --moonSize: 225px;
    --rocketSize: 150px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/terra.svg);

    /* posicionamento */
    position: absolute;
    top: min( 70vh - 70px - var(--size) / 2, 450px );
    right: calc( 5vw + var(--moonSize));

}

#sun{
    /* tamanho */
    --size: 800px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/sol.svg);

    /* posicionamento */
    position: absolute;
    top: calc( 60% - var(--size) );
    left: calc( 50vw - var(--size) / 2 ); /* o deixa no centro da tela */
}

#moon{
    /* tamanho */
    width: var(--moonSize);
    height: var(--moonSize);

    /* estética */
    background-image: url(../Imagens/lua.svg);

    /* posicionamento */
    position: absolute;
    top: -140px;
    right: -225px;
}

#rocket{
    /* tamanho */
    width: var(--rocketSize);
    height: var(--rocketSize);

    /* estética */
    background-image: url(../Imagens/spacerocket.svg);

    /* posicionamento */
    rotate: -38deg;
    position: absolute;
    top: 20px;
    right: -15px;
}

#milestones{
    /* tamanho */
    height: 1200px;

    /* estética */
    background-image: url(../Imagens/terra_do_espaco.svg);
    font-family: var(--interfaceTextFont);
    color: var(--interfaceTextColor);
    font-size: x-large;
    display: block;
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;

    /* posicionamento de itens no interior */
    position: relative;
}

#milestones h1{
    /* tamanho */
    width: 550px;

    /* estética */
    background-color: var(--Background);
    border-radius: 5px;

    /* posicionamento */
    position: relative;
    top: 350px;
    left: 25vw;
}

#milestonesButton{
    /* posicionamento */
    position: absolute;
    top: 105px;
    right: 15px;

}

#vostok{
    /* tamanho */
    --size: 400px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/vostok.svg);

    /* posicionamento */
    position: absolute;
    rotate: 38deg;
    top: min( 70vh, 180px );;
    left: 20vw;
}


#incidents{
    /* tamanho */
    height: 1200px;

    /* estética */
    background-image: url(../Imagens/atmosphere.svg);
    font-family: var(--interfaceTextFont);
    color: var(--interfaceTextColor);
    font-size: x-large;
    display: block;
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;

    /* posicionamento de itens no interior */
    position: relative;

    /* posicionamento */
    margin-top: 70px;
}

#incidents h1{
    /* tamanho */
    width: 550px;

    /* posicionamento */
    position: absolute;
    bottom: 450px;
    left: 5vw;
}

#incidentsButton{

    /* posicionamento */
    position: absolute;
    top: 105px;
    right: 15px;
}

#challenger{
    /* tamanho */
    --size: 600px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/challenger_explosion.svg);

    /* posicionamento */
    position: absolute;
    top: calc(100% - var(--size) - 100px);
    right: 10vw;
}

#learning{
    /* tamanho */
    height: 1100px;

    /* estética */
    background-image: url(../Imagens/fundoSobre.svg);
    background-position: 50%;
    font-family: var(--interfaceTextFont);
    color: var(--interfaceTextColor);
    font-size: x-large;
    display: block;

    /* posicionamento de elementos internos */
    position: relative;

    /* posicionamento */
    margin-top: 70px;
}

#learning h1{
    /* tamanho */
    width: 700px;

    /* posicionamento */
    position: absolute;
    bottom: 450px;
    right: 5vw;
}

#learningButton{

    /* posicionamento */
    position: absolute;
    top: 105px;
    right: 15px;
}

#voyager{
    /* tamanho */
    --size: 700px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/voyager.svg);

    /* posicionamento */
    rotate: -25deg;
    position: absolute;
    top: calc(110% - var(--size) - 100px);
    left: 15vw;
}

#jupter{
    /* tamanho */
    --size: 300px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/jupiter.svg);

    /* posicionamento */
    position: absolute;
    top: calc(70% - var(--size) - 100px);
    left: 10vw;
}

#future{
    /* tamanho */
    height: 1100px;

    /* estética */
    background-image: url(../Imagens/fundoSobre.svg);
    background-position: 20%;
    font-family: var(--interfaceTextFont);
    color: var(--interfaceTextColor);
    font-size: x-large;
    display: block;

    /* posicionamento de elementos internos */
    position: relative;

    /* posicionamento */
    margin-top: 70px;
}

#future h1{
    /* tamanho */
    width: 550px;

    /* posicionamento */
    position: absolute;
    bottom: 450px;
    right: 5vw;
}

#futureButton{

    /* posicionamento */
    position: absolute;
    top: 105px;
    right: 15px;
}

#ship{
    /* tamanho */
    --size: 450px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/star-ship.svg);

    /* posicionamento */
    rotate: 55deg;
    position: absolute;
    top: calc(80% - var(--size) - 100px);
    left: 8vw;
}

#mars{
    /* tamanho */
    --size: 400px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/marte.svg);

    /* posicionamento */
    position: absolute;
    top: calc(50% - var(--size) - 100px);
    left: 20vw;
}







