/* CSS específico da página index.html */
:root{
    /* variáveis globais específicas para esta página */
    --pageHeight: content;
}

.fundo{
    /* tamanho */
    width: 100%;
}

#sobre{
    /* variáveis locais */
    --blurColor: rgb(6, 0, 6);

    /* tamanho */
    height: 1100px;

    /* estética */
    background-image: url(../Imagens/fundoSobre.svg);
    font-family: var(--interfaceTextFont);
    color: var(--interfaceTextColor);
    font-size: x-large;
    display: block;

    /* posicionamento de elementos internos */
    position: relative;
}

#textoSobre{
    /* tamanho */
    width: 550px;

    /* posicionamento */
    position: absolute;
    top: min( 65vh - 75px , 550px );
    left: 5vw;
}

#sobreBotao{

    /* posicionamento */
    position: absolute;
    top: 105px;
    right: 85px;

}

#earth{
    /* tamanho */
    --size: 400px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/terra.svg);

    /* posicionamento */
    position: absolute;
    top: min( 70vh - 70px - var(--size) / 2, 450px );
    right: 5vw;

}

#sun{
    /* tamanho */
    --size: 800px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/sol.svg);

    /* posicionamento */
    position: absolute;
    top: calc( 20% - var(--size) / 2 - 75px);
    left: calc(50%);
    transform: translateX(-50%);
}


#milestones{
    /* tamanho */
    height: 1200px;

    /* estética */
    background-image: url(../Imagens/terra_do_espaco.svg);
    font-family: var(--interfaceTextFont);
    color: var(--interfaceTextColor);
    font-size: x-large;
    display: block;
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;

    /* posicionamento de itens no interior */
    position: relative;
}

#textoMilestones{
    /* tamanho */
    width: 550px;

    /* estética */
    background-color: var(--Background);
    border-radius: 5px;

    /* posicionamento */
    position: absolute;
    top: 350px;
    right: 5vw;
}

#milestonesButton{
    /* posicionamento */
    position: absolute;
    top: 105px;
    right: 15px;

}

#vostok{
    /* tamanho */
    --size: 400px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/vostok.svg);

    /* posicionamento */
    position: absolute;
    rotate: 38deg;
    top: min( 70vh, 180px );;
    left: 10vw;
}


#incidents{
    /* tamanho */
    height: 1200px;

    /* estética */
    background-image: url(../Imagens/atmosphere.svg);
    font-family: var(--interfaceTextFont);
    color: var(--interfaceTextColor);
    font-size: x-large;
    display: block;
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;

    /* posicionamento de itens no interior */
    position: relative;

    /* posicionamento */
    margin-top: 70px;
}

#textoIncidents{
    /* tamanho */
    width: 550px;

    /* posicionamento */
    position: absolute;
    bottom: 450px;
    left: 5vw;
}

#incidentsButton{

    /* posicionamento */
    position: absolute;
    top: 105px;
    right: 15px;
}

#challenger{
    /* tamanho */
    --size: 600px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/challenger_explosion.svg);

    /* posicionamento */
    position: absolute;
    bottom: 100px;
    right: 0;
}

#learning{
    /* variáveis locais */
    --blurColor: rgb(6, 0, 6);

    /* tamanho */
    height: 1100px;

    /* estética */
    background-image: url(../Imagens/fundoSobre.svg);
    background-position: 50%;
    font-family: var(--interfaceTextFont);
    color: var(--interfaceTextColor);
    font-size: x-large;
    display: block;

    /* posicionamento de elementos internos */
    position: relative;

    /* posicionamento */
    margin-top: 70px;
}

#textoLearning{
    /* tamanho */
    width: 700px;

    /* posicionamento */
    position: absolute;
    bottom: 450px;
    right: 5vw;
}

#learningButton{

    /* posicionamento */
    position: absolute;
    top: 105px;
    right: 15px;
}

#voyager{
    /* tamanho */
    --size: 700px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/voyager.svg);

    /* posicionamento */
    rotate: -25deg;
    position: absolute;
    bottom: -55px;
    left: 9vw;
}

#jupter{
    /* tamanho */
    --size: 300px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/jupiter.svg);

    /* posicionamento */
    position: absolute;
    top: calc(70% - var(--size) - 100px);
    left: 7vw;
}

#future{
    /* variáveis locais */
    --blurColor: rgb(6, 0, 6);

    /* tamanho */
    height: 1100px;

    /* estética */
    background-image: url(../Imagens/fundoSobre.svg);
    background-position: 20%;
    font-family: var(--interfaceTextFont);
    color: var(--interfaceTextColor);
    font-size: x-large;
    display: block;

    /* posicionamento de elementos internos */
    position: relative;

    /* posicionamento */
    margin-top: 70px;
}

#textoFuture{
    /* tamanho */
    width: 550px;

    /* posicionamento */
    position: absolute;
    bottom: 550px;
    right: 5vw;
}

#futureButton{

    /* posicionamento */
    position: absolute;
    top: 105px;
    right: 15px;
}

#mars{
    /* tamanho */
    --size: 380px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/marte.svg);

    /* posicionamento */
    position: absolute;
    top: calc(50% - var(--size) - 100px);
    left: 20vw;
}

#ship{
    /* tamanho */
    --size: 420px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/star-ship.svg);

    /* posicionamento */
    rotate: 68deg;
    position: absolute;
    top: calc(44% - var(--size) / 2);
    left: 3vw;
}

/* medias de responsividade */
@media screen and (max-width: 1245px) {

    #voyager{
        /* tamanho */
        --size: 600px;
    
        /* posicionamento */
        bottom: 10px;
        left: 1.5vw;
    }
    
    #jupter{
        /* tamanho */
        --size: 250px;
    
        /* posicionamento */
        top: calc(70% - var(--size) - 100px);
        left: 3vw;
    }
}


@media screen and (max-width: 1085px) {


    #earth{
        /* posição */
        right: -5vw;
    }

    #textoSobre{
        /* tamanho */
        width: 450px;

        /* estética */
        font-size: 0.9em;
    }

    #sobreBotao{
        /* estética */
        font-size: 1.8em;

        /* posição */
        top: 95px;
        right: 45px;
    }







    #vostok{
        /* variáveis locais */
        --size: 350px;

        /* posição */
        left: 5vw;
        top: 18%;
    }

    #textoMilestones{
        /* estética */
        font-size: 0.9em;

        /* posição */
        right: 0vw;
    }

    #milestonesButton{
        /* estética */
        font-size: 1.8em;

        /* posição */
        top: 95px;
        right: 65px;
    }







    #challenger{
        /* tamanho */
        --size: 500px;
    
        /* posicionamento */
        /*bottom: 100px;*/
        right: 0;
    }

    #textoIncidents{
        /* tamanho */
        width: 500px;

        /* estética */
        font-size: 0.9em;
    }
    
    #incidentsButton{
    
        /* estética */
        font-size: 1.8em;

        /* posicionamento */
        top: 95px;
        right: 20px;
    }





    #textoLearning{
        /* tamanho */
        width: 600px;

        /* estética */
        text-align: center;
        font-size: 0.9em;
    
        /* posicionamento */
        bottom: 200px;
        right: 50%;
        transform: translateX(50%);
    }
    
    #learningButton{

        /* estética */
        font-size: 1.8em;
    
        /* posicionamento */
        top: 105px;
        right: 50%;
        transform: translateX(50%);
    }

    #voyager{
        /* tamanho */
        --size: 600px;
    
        /* posicionamento */
        bottom: auto;
        top: 30%;
        left: 50%;
        transform: translateX(calc(-50% + 150px));
    }
    
    #jupter{
        /* tamanho */
        --size: 250px;
    
        /* posicionamento */
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }




    #textoFuture{
        /* tamanho */
        width: 500px;

        /* estética */
        font-size: 0.9em;
    
        /* posicionamento */
        bottom: 550px;
        right: 5vw;
    }
    
    #futureButton{
    
        /* estética */
        font-size: 1.8em;

        /* posicionamento */
        top: auto;
        bottom: -40px;
        right: 15px;
    }
    
    #mars{
        /* tamanho */
        --size: 380px;
    
        /* posicionamento */
        top: calc(50% - var(--size) - 100px);
        left: 20vw;
    }
    
    #ship{
        /* tamanho */
        --size: 420px;
    
        /* posicionamento */
        top: calc(44% - var(--size) / 2);
        left: 3vw;
    }



}


@media screen and (max-width: 1000px) {
    #textoFuture{

        /* estética */
        text-align: center;
    
        /* posicionamento */
        bottom: 250px;
        right: 50%;
        transform: translateX(50%);
    }
    
    #futureButton{

        /* posicionamento */
        bottom: -40px;
        right: 50%;
        transform: translateX(50%);
    }
    
    #mars{
        /* tamanho */
        --size: 380px;
    
        /* posicionamento */
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #ship{
        /* tamanho */
        --size: 250px;
    
        /* posicionamento */
        top: 50%;
        left: 50%;
        transform: translateX(-30%);
    }
}



@media screen and (max-width: 930px) {
    #vostok{
        /* variáveis locais */
        --size: 300px;

        /* posição */
        left: 1vw;
        top: 21%;
    }

    #textoMilestones{
        /* tamanho */
        width: 500px;

        /* posição */
        right: 2.5vw;
    }

    #milestonesButton{
        /* posição */
        right: 15px;
    }
}


@media screen and (max-width: 870px) {
    #challenger{
        /* tamanho */
        --size: 450px;
    
        /* posicionamento */
        right: 0;
    }

    #textoIncidents{
        /* tamanho */
        width: 500px;
    }
    
    #incidentsButton{

        /* posicionamento */
        top: 95px;
        right: 20px;
    }
}

@media screen and (max-width: 800px){
    #earth{
        /* variáveis locais */
        --size: 300px;
    }

    #textoSobre{
        /* tamanho */
        width: 350px;

        /* estética */
        font-size: 0.7em;
    }

    #sobreBotao{
        /* estética */
        font-size: 1.6em;

        /* posição */
        top: 70px;
        right: 25px;
    }

    #textoMilestones{
        /* tamanho */
        width: 400px;

        /* estética */
        font-size: 0.7em;
    }

    #milestonesButton{

        /* estética */
        font-size: 1.6em;

        /* posição */
        top: 75px;
        right: 23px;
    }

    #challenger{
        /* tamanho */
        --size: 350px;
    
        /* posicionamento */
        right: 2vw;
    }

    #textoIncidents{
        /* tamanho */
        width: 400px;

        /* estética */
        font-size: 0.7em;
    
        /* posicionamento */
        bottom: 400px;
    }
    
    #incidentsButton{
    
        /* estética */
        font-size: 1.6em;

        /* posicionamento */
        top: 70px;
        right: 22px;
    }



    #textoLearning{
        /* tamanho */
        width: 500px;

        /* estética */
        font-size: 0.7em;
    
        /* posicionamento */
        bottom: 200px;
    }
    
    #learningButton{

        /* estética */
        font-size: 1.6em;
    
        /* posicionamento */
        top: auto;
        bottom: -35px;
    }




    #textoFuture{
        /* tamanho */
        width: 400px;

        /* estética */
        font-size: 0.7em;
    
        /* posicionamento */
        bottom: 250px;
    }
    
    #futureButton{
    
        /* estética */
        font-size: 1.6em;

        /* posicionamento */
        bottom: -30px;
    }

}

@media screen and (max-width: 700px) {

    #vostok{
        /* variáveis locais */
        --size: 300px;

        /* posição */
        left: 50%;
        transform: translateX(-50%);
        top: 41%;
    }

    #textoMilestones{
        /* tamanho */
        width: 400px;

        /* estética */
        font-size: 0.7em;
        text-align: center;

        /* posição */
        right: 50%;
        transform: translateX(50%);
        top: 21%;
    }

    #milestonesButton{

        /* estética */
        font-size: 1.6em;

        /* posição */
        top: 75px;
        right: 50%;
        transform: translateX(50%);
    }
}

@media screen and (max-width: 630px) {
    #sun{
        /* estética */
        display: none;
    }

    #earth{
        /* posição */
        right: calc( 50vw - var(--size) / 2 );
        top: 7%;
    }

    #textoSobre{
        /* estética */
        text-align: center;

        /* posição */
        left: 50%;
        transform: translateX(-50%);
    }

    #sobreBotao{

        /* posição */
        top: 70px;
        right: 50%;
        transform: translateX(50%);
    }


    #challenger{
        /* posicionamento */
        right: 50%;
        transform: translateX(50%);
    }



    #voyager{
        /* tamanho */
        --size: 400px;
    
        /* posicionamento */
        bottom: auto;
        top: 30%;
        left: 50%;
        transform: translateX(calc(-50% + 50px));
    }
    
    #jupter{
        /* tamanho */
        --size: 200px;
    
        /* posicionamento */
        top: 30%;
        left: 50%;
        transform: translateX(calc(-50% - 25px));
    }

    #textoIncidents{
        /* estética */
        text-align: center;
    
        /* posicionamento */
        bottom: 500px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #incidentsButton{

        /* posicionamento */
        right: 50%;
        transform: translateX(50%);
    }






}


@media screen and (max-width: 545px) {
    #mars{
        /* tamanho */
        --size: 380px;
    
        /* posicionamento */
        top: calc(50% - var(--size) - 100px);
        left: 20vw;
    }
    
    #ship{
        /* tamanho */
        --size: 420px;
    
        /* posicionamento */
        top: calc(44% - var(--size) / 2);
        left: 3vw;
    }
}






