/* CSS específico da página index.html */
:root{
    /* variáveis globais específicas para esta página */
    --pageHeight: content;
}

.fundo{
    /* tamanho */
    width: 100%;
}

#sobre{
    /* variáveis locais */
    --blurColor: rgb(6, 0, 6);

    /* tamanho */
    height: 1100px;

    /* estética */
    background-image: url(../Imagens/fundoSobre.svg);
    font-family: var(--interfaceTextFont);
    color: var(--interfaceTextColor);
    font-size: x-large;
    display: block;

    /* posicionamento de elementos internos */
    position: relative;
}

#textoSobre{
    /* tamanho */
    width: 550px;

    /* posicionamento */
    position: absolute;
    top: min( 65vh - 75px , 550px );
    left: 5vw;
}

#sobreBotao{

    /* posicionamento */
    position: absolute;
    top: 105px;
    right: 85px;

}

#earth{
    /* tamanho */
    --size: 400px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/terra.svg);

    /* posicionamento */
    position: absolute;
    top: min( 70vh - 70px - var(--size) / 2, 450px );
    right: 5vw;

}

#sun{
    /* tamanho */
    --size: 800px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/sol.svg);

    /* posicionamento */
    position: absolute;
    top: calc( 20% - var(--size) / 2 - 75px);
    left: calc( 50vw - var(--size) / 2 );
}


#milestones{
    /* tamanho */
    height: 1200px;

    /* estética */
    background-image: url(../Imagens/terra_do_espaco.svg);
    font-family: var(--interfaceTextFont);
    color: var(--interfaceTextColor);
    font-size: x-large;
    display: block;
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;

    /* posicionamento de itens no interior */
    position: relative;
}

#textoMilestones{
    /* tamanho */
    width: 550px;

    /* estética */
    background-color: var(--Background);
    border-radius: 5px;

    /* posicionamento */
    position: relative;
    top: 350px;
    left: 25vw;
}

#milestonesButton{
    /* posicionamento */
    position: absolute;
    top: 105px;
    right: 15px;

}

#vostok{
    /* tamanho */
    --size: 400px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/vostok.svg);

    /* posicionamento */
    position: absolute;
    rotate: 38deg;
    top: min( 70vh, 180px );;
    left: 10vw;
}


#incidents{
    /* tamanho */
    height: 1200px;

    /* estética */
    background-image: url(../Imagens/atmosphere.svg);
    font-family: var(--interfaceTextFont);
    color: var(--interfaceTextColor);
    font-size: x-large;
    display: block;
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;

    /* posicionamento de itens no interior */
    position: relative;

    /* posicionamento */
    margin-top: 70px;
}

#textoIncidents{
    /* tamanho */
    width: 550px;

    /* posicionamento */
    position: absolute;
    bottom: 450px;
    left: 5vw;
}

#incidentsButton{

    /* posicionamento */
    position: absolute;
    top: 105px;
    right: 15px;
}

#challenger{
    /* tamanho */
    --size: 600px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/challenger_explosion.svg);

    /* posicionamento */
    position: absolute;
    bottom: 100px;
    right: 5vw;
}

#learning{
    /* variáveis locais */
    --blurColor: rgb(6, 0, 6);

    /* tamanho */
    height: 1100px;

    /* estética */
    background-image: url(../Imagens/fundoSobre.svg);
    background-position: 50%;
    font-family: var(--interfaceTextFont);
    color: var(--interfaceTextColor);
    font-size: x-large;
    display: block;

    /* posicionamento de elementos internos */
    position: relative;

    /* posicionamento */
    margin-top: 70px;
}

#textoLearning{
    /* tamanho */
    width: 700px;

    /* posicionamento */
    position: absolute;
    bottom: 450px;
    right: 5vw;
}

#learningButton{

    /* posicionamento */
    position: absolute;
    top: 105px;
    right: 15px;
}

#voyager{
    /* tamanho */
    --size: 700px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/voyager.svg);

    /* posicionamento */
    rotate: -25deg;
    position: absolute;
    bottom: -55px;
    left: 9vw;
}

#jupter{
    /* tamanho */
    --size: 300px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/jupiter.svg);

    /* posicionamento */
    position: absolute;
    top: calc(70% - var(--size) - 100px);
    left: 7vw;
}

#future{
    /* variáveis locais */
    --blurColor: rgb(6, 0, 6);

    /* tamanho */
    height: 1100px;

    /* estética */
    background-image: url(../Imagens/fundoSobre.svg);
    background-position: 20%;
    font-family: var(--interfaceTextFont);
    color: var(--interfaceTextColor);
    font-size: x-large;
    display: block;

    /* posicionamento de elementos internos */
    position: relative;

    /* posicionamento */
    margin-top: 70px;
}

#textoFuture{
    /* tamanho */
    width: 550px;

    /* posicionamento */
    position: absolute;
    bottom: 550px;
    right: 5vw;
}

#futureButton{

    /* posicionamento */
    position: absolute;
    top: 105px;
    right: 15px;
}

#mars{
    /* tamanho */
    --size: 380px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/marte.svg);

    /* posicionamento */
    position: absolute;
    top: calc(50% - var(--size) - 100px);
    left: 20vw;
}

#ship{
    /* tamanho */
    --size: 420px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/star-ship.svg);

    /* posicionamento */
    rotate: 68deg;
    position: absolute;
    top: calc(44% - var(--size) / 2);
    left: 3vw;
}

/* medias de responsividade */
@media screen and (max-width: 1000px) {
    #earth{
        /* posição */
        right: -5vw;
    }
}







