header{
    /* posicionamento dos outros elementos */
    margin-bottom: 30px;
}















#principiosImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/concepts.svg');

    /* posição */
    left: 10px;

}

#principiosImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/concepts.svg');

    /* posição */
    right: 10px;

}

/* #principios{

    /* estética */
    /* background-image: url('../Imagens/turismo_do_espaco.svg');

} */

#formula{
    /* tamanho */
    --size: 400px;

    /* estética */
    background-image: url(../Imagens/formula.svg);

    /* posição */
}

#gravity{

    /* tamanho */
    --size: 500px;

    /* estética */
    background-image: url(../Imagens/gravity.svg);

    /* posição */
    float: right;
    margin: 30px;
}


@media screen and (max-width: 1000px) {
    #gravity{
        float: none;
        margin: 30px auto;
    }
}

#kepler{

    /* tamanho */
    --size: 500px;

    /* estética */
    background-image: url(../Imagens/kepler.svg);

    /* posição */
    float: left;
    margin: 60px;
}


@media screen and (max-width: 1000px) {
    #kepler{
        float: none;
        margin: 60px auto;
    }
}

#propulsion{

    /* tamanho */
    --size: 500px;

    /* estética */
    background-image: url(../Imagens/propulsion.svg);

    /* posição */
    float: right;
    margin: 60px;
}


@media screen and (max-width: 1000px) {
    #propulsion{
        float: none;
        margin: 60px auto;
    }
}














#ignicaoImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/light_a_engine.svg');

    /* posição */
    left: 10px;

}

#ignicaoImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/light_a_engine.svg');

    /* posição */
    right: 10px;

}

/* #ignicao{ */

    /*estética*/
    /* background-image: url('../Imagens/turismo_do_espaco.svg');

} */

#ignition{

    /* tamanho */
    --size: 500px;

    /* estética */
    background-image: url(../Imagens/ignition.svg);

    /* posição */
    float: left;
    margin: 60px;
}


@media screen and (max-width: 1000px) {
    #ignition{
        float: none;
        margin: 60px auto;
    }
}















#manobrasImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/manouver.svg');

    /* posição */
    left: 10px;

}

#manobrasImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/manouver.svg');

    /* posição */
    right: 10px;

}

/* #manobras{ */

    /*estética*/
    /* background-image: url('../Imagens/turismo_do_espaco.svg');

} */

#manouver{

    /* tamanho */
    --size: 500px;

    /* estética */
    background-image: url(../Imagens/manobras.svg);

    /* posição */
    float: right;
    margin: 60px;
}


@media screen and (max-width: 1000px) {
    #manouver{
        float: none;
        margin: 60px auto;
    }
}















#pousoImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/apollo-lander.svg');

    /* posição */
    left: 10px;

}

#pousoImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/apollo-lander.svg');

    /* posição */
    right: 10px;

}

/* #pouso{ */

    /*estética*/
    /* background-image: url('../Imagens/turismo_do_espaco.svg');

} */















#usosImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/uses.svg');

    /* posição */
    left: 10px;

}

#usosImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/uses.svg');

    /* posição */
    right: 10px;

}

/* #usos{ */

    /*estética*/
    /* background-image: url('../Imagens/turismo_do_espaco.svg');

} */