header{
    /* posicionamento dos outros elementos */
    margin-bottom: 30px;
}















#principiosImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/tourism.svg');

    /* posição */
    left: 10px;

}

#principiosImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/tourism.svg');

    /* posição */
    right: 10px;

}

#principiosCartao{
    /* variáveis locais */
    --height: calc(max-content + 140px);
}

/* #principios{

    /* estética */
    /* background-image: url('../Imagens/turismo_do_espaco.svg');

} */















#ignicaoImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/tourism.svg');

    /* posição */
    left: 10px;

}

#ignicaoImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/tourism.svg');

    /* posição */
    right: 10px;

}

#ignicaoCartao{
    /* variáveis locais */
    --height: calc(max-content + 140px);
}

/* #ignicao{ */

    /*estética*/
    /* background-image: url('../Imagens/turismo_do_espaco.svg');

} */















#manobrasImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/tourism.svg');

    /* posição */
    left: 10px;

}

#manobrasImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/tourism.svg');

    /* posição */
    right: 10px;

}

#manobrasCartao{
    /* variáveis locais */
    --height: calc(max-content + 140px);
}

/* #manobras{ */

    /*estética*/
    /* background-image: url('../Imagens/turismo_do_espaco.svg');

} */