header{
    /* posicionamento dos outros elementos */
    margin-bottom: 30px;
}

#terraBotao{
    /* estética */
    background-color: var(--interfaceColor);
    background-image: url('../Imagens/fundoSobre.svg');
    background-size: 25%;

    /* posicionamento */
    margin-top: 15px;
}

#terraImgLeft{
    /* variáveis locais */
    --size: 75px;

    /* tamanho */
    width: var(--size);
    height: var(--size);


    /* estética */
    background-image: url('../Imagens/terra.svg');

    /* posição */
    position: absolute;
    left: 10px;
    bottom: 50%;
    transform: translateY(50%);

}

#terraImgRight{
    /* variáveis locais */
    --size: 75px;

    /* tamanho */
    width: var(--size);
    height: var(--size);


    /* estética */
    background-image: url('../Imagens/terra.svg');

    /* posição */
    position: absolute;
    right: 10px;
    bottom: 50%;
    transform: translateY(50%);

}

#terraCartao{
    /* variáveis locais */
    --height: 500px;
}

#terra{
    /* tamanho */
    width: 100%;
    height: var(--height);

    /*estética*/
    background-image: url('../Imagens/terra_do_espaco.svg');
    background-size: cover;
    background-position: 50% 100%;

    /* posicionamento dos itens interiorres */
    display: flex;
    flex-direction: column;
    align-items: center;

}

#luaBotao{
    /* estética */
    background-color: var(--interfaceColor);
    background-image: url('../Imagens/fundoSobre.svg');
    background-size: 25%;

    /* posicionamento */
    margin-top: 15px;
}

#luaImgLeft{
    /* variáveis locais */
    --size: 45px;

    /* tamanho */
    width: var(--size);
    height: var(--size);


    /* estética */
    background-image: url('../Imagens/lua.svg');

    /* posição */
    position: absolute;
    left: 25px;
    bottom: 50%;
    transform: translateY(50%);

}

#luaImgRight{
    /* variáveis locais */
    --size: 45px;

    /* tamanho */
    width: var(--size);
    height: var(--size);


    /* estética */
    background-image: url('../Imagens/lua.svg');

    /* posição */
    position: absolute;
    right: 25px;
    bottom: 50%;
    transform: translateY(50%);

}

#luaCartao{
    /* variáveis locais */
    --height: 500px;
}

#lua{
    /* tamanho */
    width: 100%;
    height: var(--height);

    /*estética*/
    background-image: url('../Imagens/lua_do_espaco.svg');
    background-size: cover;
    background-position: 50% 100%;

    /* posicionamento dos itens interiorres */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* posição */
    position: relative;
    z-index: 1;

}

#terra_fundo{
    /* tamanho */
    --size: 250px;
    width: var(--size);
    height: var(--size);

    /* estética */
    background-image: url(../Imagens/terra.svg);

    /* posicionamento */
    position: absolute;
    right: 5vw;
    top: 20%;
    z-index: -15 !important;
}








#marteBotao{
    /* estética */
    background-color: var(--interfaceColor);
    background-image: url('../Imagens/fundoSobre.svg');
    background-size: 25%;

    /* posicionamento */
    margin-top: 15px;
}

#marteImgLeft{
    /* variáveis locais */
    --size: 65px;

    /* tamanho */
    width: var(--size);
    height: var(--size);


    /* estética */
    background-image: url('../Imagens/marte.svg');

    /* posição */
    position: absolute;
    left: 15px;
    bottom: 50%;
    transform: translateY(50%);

}

#marteImgRight{
    /* variáveis locais */
    --size: 65px;

    /* tamanho */
    width: var(--size);
    height: var(--size);


    /* estética */
    background-image: url('../Imagens/marte.svg');

    /* posição */
    position: absolute;
    right: 15px;
    bottom: 50%;
    transform: translateY(50%);

}

#marteCartao{
    /* variáveis locais */
    --height: 500px;
}

#marte{
    /* tamanho */
    width: 100%;
    height: var(--height);

    /*estética*/
    background-image: url('../Imagens/marte_do_espaco.svg');
    background-size: cover;
    background-position: 50% 100%;

    /* posicionamento dos itens interiorres */
    display: flex;
    flex-direction: column;
    align-items: center;

}








#venusBotao{
    /* estética */
    background-color: var(--interfaceColor);
    background-image: url('../Imagens/fundoSobre.svg');
    background-size: 25%;

    /* posicionamento */
    margin-top: 15px;
}

#venusImgLeft{
    /* variáveis locais */
    --size: 65px;

    /* tamanho */
    width: var(--size);
    height: var(--size);


    /* estética */
    background-image: url('../Imagens/venus.svg');

    /* posição */
    position: absolute;
    left: 15px;
    bottom: 50%;
    transform: translateY(50%);

}

#venusImgRight{
    /* variáveis locais */
    --size: 65px;

    /* tamanho */
    width: var(--size);
    height: var(--size);


    /* estética */
    background-image: url('../Imagens/venus.svg');

    /* posição */
    position: absolute;
    right: 15px;
    bottom: 50%;
    transform: translateY(50%);

}

#venusCartao{
    /* variáveis locais */
    --height: 500px;
}

#venus{
    /* tamanho */
    width: 100%;
    height: var(--height);

    /*estética*/
    background-image: url('../Imagens/venus_do_espaco.svg');
    background-size: cover;
    background-position: 50% 100%;

    /* posicionamento dos itens interiorres */
    display: flex;
    flex-direction: column;
    align-items: center;

}








#mercurioBotao{
    /* estética */
    background-color: var(--interfaceColor);
    background-image: url('../Imagens/fundoSobre.svg');
    background-size: 25%;

    /* posicionamento */
    margin-top: 15px;
}

#mercurioImgLeft{
    /* variáveis locais */
    --size: 55px;

    /* tamanho */
    width: var(--size);
    height: var(--size);


    /* estética */
    background-image: url('../Imagens/mercurio.svg');

    /* posição */
    position: absolute;
    left: 20px;
    bottom: 50%;
    transform: translateY(50%);

}

#mercurioImgRight{
    /* variáveis locais */
    --size: 55px;

    /* tamanho */
    width: var(--size);
    height: var(--size);


    /* estética */
    background-image: url('../Imagens/mercurio.svg');

    /* posição */
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translateY(50%);

}

#mercurioCartao{
    /* variáveis locais */
    --height: 500px;
}

#mercurio{
    /* tamanho */
    width: 100%;
    height: var(--height);

    /*estética*/
    background-image: url('../Imagens/mercurio_do_espaco.svg');
    background-size: cover;
    background-position: 50% 100%;

    /* posicionamento dos itens interiorres */
    display: flex;
    flex-direction: column;
    align-items: center;

}






