header{
    /* posicionamento dos outros elementos */
    margin-bottom: 30px;
}


._botoesCartao{
    /* estética */
    background-image: url('../Imagens/fundoSobre.svg');
}

.conteudoCartao{
    /* tamanho */
    height: calc(100vh - 150px) !important;
}







#terraImgLeft{
    /* variáveis locais */
    --size: 75px;


    /* estética */
    background-image: url('../Imagens/terra.svg');

    /* posição */
    left: 10px;

}

#terraImgRight{
    /* variáveis locais */
    --size: 75px;

    /* estética */
    background-image: url('../Imagens/terra.svg');

    /* posição */
    right: 10px;

}

#terraCartao{
    /* variáveis locais */
    --height: calc(100vh - var(--headerHeight) - 80px);
}

#terra{

    /*estética*/
    background-image: url('../Imagens/terra_do_espaco.svg');

}









#luaImgLeft{
    /* variáveis locais */
    --size: 45px;


    /* estética */
    background-image: url('../Imagens/lua.svg');

    /* posição */
    left: 25px;

}

#luaImgRight{
    /* variáveis locais */
    --size: 45px;


    /* estética */
    background-image: url('../Imagens/lua.svg');

    /* posição */
    right: 25px;

}

#luaCartao{
    /* variáveis locais */
    --height: calc(100vh - var(--headerHeight) - 80px);
}

#lua{

    /*estética*/
    background-image: url('../Imagens/lua_do_espaco.svg');

    /* posição */
    position: relative;
    z-index: 1;

}

#terra_fundo{
    /* tamanho */
    --size: 250px;

    /* estética */
    background-image: url(../Imagens/terra.svg);

    /* posicionamento */
    position: absolute;
    right: 5vw;
    top: 20%;
    z-index: -15 !important;
}












#marteImgLeft{
    /* variáveis locais */
    --size: 65px;


    /* estética */
    background-image: url('../Imagens/marte_2.svg');

    /* posição */
    left: 15px;

}

#marteImgRight{
    /* variáveis locais */
    --size: 65px;

    /* estética */
    background-image: url('../Imagens/marte_2.svg');

    /* posição */
    right: 15px;

}

#marteCartao{
    /* variáveis locais */
    --height: calc(100vh - var(--headerHeight) - 80px);
}

#marte{

    /*estética*/
    background-image: url('../Imagens/marte_do_espaco.svg');

}










#venusImgLeft{
    /* variáveis locais */
    --size: 65px;


    /* estética */
    background-image: url('../Imagens/venus.svg');

    /* posição */
    left: 15px;

}

#venusImgRight{
    /* variáveis locais */
    --size: 65px;


    /* estética */
    background-image: url('../Imagens/venus.svg');

    /* posição */
    right: 15px;

}

#venusCartao{
    /* variáveis locais */
    --height: calc(100vh - var(--headerHeight) - 80px);
}

#venus{

    /*estética*/
    background-image: url('../Imagens/venus_do_espaco.svg');

}











#mercurioImgLeft{
    /* variáveis locais */
    --size: 55px;


    /* estética */
    background-image: url('../Imagens/mercurio.svg');

    /* posição */
    left: 20px;

}

#mercurioImgRight{
    /* variáveis locais */
    --size: 55px;


    /* estética */
    background-image: url('../Imagens/mercurio.svg');

    /* posição */
    right: 20px;

}

#mercurioCartao{
    /* variáveis locais */
    --height: calc(100vh - var(--headerHeight) - 80px);
}

#mercurio{

    /*estética*/
    background-image: url('../Imagens/mercurio_do_espaco.svg');

}











#gasososImgLeft{
    /* variáveis locais */
    --size: 55px;


    /* estética */
    background-image: url('../Imagens/outer_planets.svg');

    /* posição */
    left: 20px;

}

#gasososImgRight{
    /* variáveis locais */
    --size: 55px;


    /* estética */
    background-image: url('../Imagens/outer_planets.svg');

    /* posição */
    right: 20px;

}

#gasososCartao{
    /* variáveis locais */
    --height: calc(100vh - var(--headerHeight) - 80px);
}

#gasosos{

    /*estética*/
    background-image: url('../Imagens/jupiter_do_espaco.svg');

}











#dwarfImgLeft{
    /* variáveis locais */
    --size: 55px;


    /* estética */
    background-image: url('../Imagens/dwarf_planets.svg');

    /* posição */
    left: 20px;

}

#dwarfImgRight{
    /* variáveis locais */
    --size: 55px;

    /* estética */
    background-image: url('../Imagens/dwarf_planets.svg');

    /* posição */
    right: 20px;

}

#dwarfCartao{
    /* variáveis locais */
    --height: calc(100vh - var(--headerHeight) - 80px);
}

#dwarf{

    /*estética*/
    background-image: url('../Imagens/plutao_do_espaco.svg');

}





